body {
    background-image: url("../images/dundermifflinpainting.jpg");
    height: 600px;
}

.main-content {
    margin: auto;
    margin-top: 60px;
    width: 66%;
    height: 95%;
    background-color: gray;
    text-align: center;
    border: 2px solid black;
}

.btn-primary,.reset{
	background-color: darkgray;
    color: white;
    width: 400px;
	font-size: 30px;
	padding: 20px;
    margin-top: 100px;
    border: 2px solid black;
}

.btn-primary:hover {
    background-color: navy;
    color: white;
    border: 2px solid white;
}

h1 { 
    padding-top: 50px;
    font-size: 64px;
    letter-spacing: 4px;
    margin-top: 20px;
}

#timerLine {
    margin-top: 90px;
    font-size: 24px;
}